html, body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: bold;
	color: #fff;
	display: flex;
	flex-direction: column;
}

header {
	background-color: green;
	height: 150px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a {
	text-decoration: none;
	color: #fff;
}

main {
	display: flex;
	height: 800px;
	color: #000;
}

main > *, header, footer {
	margin: 4px;
	padding: 5px;
	border-radius: 7px;
}

article{
	background-color: #fff;
	flex-basis: 60%;
}

nav {
	background-color: grey;
	flex-basis: 20%;
	order: -1;
}

aside {
	background-color: lightblue;
	flex-basis: 20%;
}

footer {
	background-color: green;
	height: 150px;
}

@media screen and (max-width: 640px) {
	main {
	flex-direction: column;
	}
	
	nav {
		order: 0;
	}

	header, footer {
		flex-basis: 100px;
	}
}
